:root {
  --dark-color: rgb(7, 53, 80);
  --light-color: rgba(18, 81, 117, 0.555);
}
* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 16px;
}
html {
  height: 100%;
  display: flex;
}

body {
  background: url('./Images/david-frasheski-cloud-tendies-fin.jpg');
  background-color: rgb(156, 149, 149);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 1fr 1fr 65px;
  grid-auto-flow: row;
  /* border: solid 2px red; */
}

#output {
  grid-area: 2/1/3/4;
  display: flex;
  align-items: center;
  padding: 20px;
}
#icon {
  height: 100px;
  width: 100px;
}
#centralContainer {
  grid-area: 1/2/2/3;
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}
#input {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  border: none;
  height: 2rem;
  background-color: var(--light-color);
  border-radius: 10px;
  text-align: center;
  max-width: fit-content;
  min-width: 100px;
  margin-bottom: 20px;
}
input:focus {
  background-color: var(--dark-color);
  border: none;
  outline: none;
}

.searchTitle {
  margin-bottom: 20px;
  font-size: 24px;
}

footer {
  grid-area: 3/1/3/4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 250px;
  padding-right: 250px;
  background-color: var(--light-color);
  border-top: solid 2px var(--dark-color);
}

.footerItem {
  margin: 8px;
  color: white;
  font-weight: bold;
}

#creator a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
#credits {
  display: flex;
  align-items: center;
  justify-content: center;
}
#gitHubLogo {
  max-width: 36px;
}
