:root {
  --dark-color: rgb(7, 53, 80);
  --light-color: rgba(18, 81, 117, 0.555);
  --data-color: rgba(54, 99, 128, 0.445);
}
@font-face {
  font-family: Medieval;
  src: url(./goudy-medieval/Goudy\ Mediaeval\ Regular.ttf) format('truetype');
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Secondary;
  src: url(./my-medieval/MyMedieval.ttf) format('truetype'); */
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 14px;
}
html {
  background: url('./Images/david-frasheski-cloud-tendies-fin.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 900px) {
  html {
    background: url('./Images/david-frasheski-cloud-tendies-fin.jpg');
    background-repeat: no-repeat;
  }
  #mainOutput {
    grid-area: 1/3/3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 901px) {
  #mainOutput {
    grid-area: 1/3/3/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
    padding-bottom: 0px;
    font-size: 2rem;
  }
}

body {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-auto-flow: row;
  font-family: Medieval;
  height: 100vh;
  place-items: center;
}

#welcomeText {
  grid-area: 1/1/2/2;
  display: flex;
  padding-top: 15px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  color: white;
  text-shadow: var(--dark-color) 3px 2px;
  text-align: center;
}
#welcomeText p {
  font-size: 1.6rem;
  text-align: left;
  margin: 20px;
  text-shadow: var(--dark-color) 1px 1px;
}

#input {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  background-color: var(--data-color);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.712) 5px 3px 5px;
}

input {
  border: none;
  border: solid 1.5px black;
  height: 1.5rem;
  background-color: var(--light-color);
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}
input:focus {
  background-color: var(--dark-color);
  border: none;
  outline: none;
  border: solid white 1.5px;
}

.searchTitle {
  /* margin-bottom: 10px; */
  font-size: 24px;
}

button {
  font-family: Medieval;
  font-size: 1.2rem;
  color: white;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: rgb(212, 218, 224);
  background: linear-gradient(
    135deg,
    var(--light-color) 0%,
    var(--dark-color) 60%,
    rgb(0, 0, 0) 100%
  );
  box-shadow: white 1px 2px 1px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.342);
}
button:active {
  box-shadow: none;
  transform: translateX(2px);
  transform: translateY(2px);
}

/* #mainOutput {
  grid-area: 1/3/3/4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-top: 1rem;
  padding-bottom: 0px;
  font-size: 2rem;
} */

#output {
  grid-area: 3/1/4/4;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.statIcon {
  height: 20px;
  width: auto;
  color: white;
  height: 3rem;
  margin-right: 5px;
}
.data {
  animation: appear 1s ease-in-out 0s 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1.2fr;
  background-color: var(--data-color);
  border-radius: 10px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.712) 5px 3px 5px;
}

#output .data {
  animation-duration: 1.5s;
  background-color: rgba(52, 73, 97, 0.815);
  width: fit-content;
}

.data .iconContainer {
  grid-area: 1/1/3/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data .title {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: flex-end;
  font-size: 0.9rem;
  justify-content: start;
}
.data .info {
  grid-area: 2/2/4/3;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  font-size: 1.5rem;
}
#weatherIcon {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  animation: appear 0.8s ease-in-out 0s 1;
}
#weatherIcon img {
  height: 95%;
  border-radius: 10px;
  /* background-color: var(--data-color); */
}
#City {
  grid-area: 1/1/2/2;
}
#Temperature {
  grid-area: 3/1/4/2;
}

#Weather {
  grid-area: 2/1/3/2;
}
#Date {
  grid-area: 4/1/5/2;
  grid-template-rows: 0.5fr 1fr;
}

#Date .info {
  font-size: 1rem;
}
#error {
  font-size: 2rem;
  text-shadow: var(--dark-color) 1px 1px;
}
#error ul li {
  font-size: 1.5rem;
  text-shadow: var(--dark-color) 1px 1px;
}
#help {
  border-radius: 50%;
  width: 2rem;
  grid-area: 1/2/2/3;
  margin: 0 auto;
  z-index: 1;
}
footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4px;
  grid-area: 4/1/5/4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
  border-top: solid 2px var(--dark-color);
  width: 100%;
}

.footerItem {
  margin: 8px;
  color: white;
}

#creator a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
#credits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}
#creator {
  margin-left: 10%;
}
#gitHubLogo {
  max-width: 36px;
  flex-grow: 1;
}
